<header class="navbar navbar-inverse navbar-fixed-top docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">
        <font size="5" color="#ffffff">Wei Lin</font>
      </a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="{{ '/' | prepend: site.baseurl }}">Home</a>
        </li>
        <li>
          <a href="{{ '/time/' | prepend: site.baseurl }}">按时间查看</a>
        </li>
        <li>
          <a href="{{ '/tag/' | prepend: site.baseurl }}">按标签查看</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
            <a><span id="busuanzi_container_site_pv">本站总访问量<span id="busuanzi_value_site_pv"></span>次</span></a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">关于<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a rel="nofollow" href="{{ '/books/' | prepend: site.baseurl }}">我的书单</a></li>
			<li><a rel="nofollow" href="{{ '/resume/' | prepend: site.baseurl }}">个人简历</a></li>
            <li class="divider"></li>
            <li><a rel="nofollow" target="_blank" href="{{site.github}}">Github</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>